<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>

		<!-- Datos para el envio de correo -->
		<add key="usuario"	value="r.martinez@sycom.com.ve"/>
		<add key="clave"	value="gennesis"/>
		<add key="email"	value="r.martinez@sycom.com.ve"/>
		<add key ="to"		value="r.martinez@sycom.com.ve; rikurdog@gmail.com"/>
		<add key="empresa"	value="SYCOM"/>

		<!-- Umbral de errores para enviar el corro de notificacion de errores.-->
		<!-- envia al primer error y despues cada multiplo de 5-->
		<add key="ini_umbral_Error" value="1"/>
		<add key="sug_umbral_Error" value="5"/>

		<!-- Directotio a monitorear y donde se mueven loa atendidos-->
		<add key ="logDir"				value="C:\Proyectos C#\LogSIMF\"/>
		<add key ="logDirAtendidos"		value="C:\Proyectos C#\LogSIMF_ATENDIDOS\"/>
		<add key ="maskArchAtendido"	value="yyyyMMdd"/>
		
		<!-- Archivo de log de la aplicacion monitor log-->		
		<add key ="logArchivo"		value="SIMF_MONITOR.log"/>
		
	</appSettings>
</configuration>