<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>

		<!-- Umbral de errores para enviar el corro de notificacion de errores.-->
		<!-- envia al primer error y despues cada multiplo de 5-->
		<add key="ini_umbral_Error" value="1"/>
		<add key="sug_umbral_Error" value="5"/>

		<!-- Directotio a monitorear y donde se mueven los errpres atendidos-->
		<add key ="logDir"				value="C:\Proyectos C#\LogSIMF\"/>
		<add key ="logDirAtendidos"		value="C:\Proyectos C#\LogSIMF_ATENDIDOS\"/>
		<add key ="maskArchAtendido"	value="yyyyMMdd"/>
		
	</appSettings>
</configuration>